node_modules
dist
.env
consulta-medicos-online-FIREBASE_CREDENTIALS_FILE.json
API_TESTE_MEDICOSCONSULTASONLINE.txt
FIREBASE_CREDENTIALS_FILE.json
backend/FIREBASE_CREDENTIALS_FILE.json


como dar uma ROLADA na cara do seu amigo?